# History files
.Rhistory
.Rapp.history

# Compiled objects
*.o
*.so
*.dll

# Rstudio files
..Rcheck/
.Rproj.user
.Rbuildignore
vignettes/cache

# issues 
issues/

# debug figures in vignette
vignettes/figures/ggrepel/gallery.html
vignettes/figures/ggrepel/make_gallery_html.sh

# MacOS
.DS_Store
