# History files
.Rhistory
.Rapp.history

# Compiled objects
*.o
*.so
*.dll

# Rstudio files
..Rcheck/
.Rproj.user
.Rbuildignore
vignettes/cache

# privateissues
issues/private/

# debug figures in vignette
vignettes/figures/ggrepel/gallery.html

# MacOS
.DS_Store
